.item {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #000000;
}

.item.active {
    color: #0d442a;
    scale: 1.1;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover {
    color: #0d442a;
    scale: 1.2;
}

.box {
    display: flex;
    align-items: baseline;
}